annotated-types
anyio
attrs
certifi
chardet
click
dataclasses
deprecation
exceptiongroup
fastapi
gotrue
h11
httpcore
httptools
httpx
idna
iniconfig
packaging
peewee
pluggy
postgrest
postgrest-py
py
pydantic
pydantic_core
pytest
python-dateutil
python-dotenv
PyYAML
realtime
realtime-py
requests
rfc3986
six
sniffio
starlette
storage3
StrEnum
supabase
supafunc
toml
typing_extensions
urllib3
uvicorn
uvloop
watchfiles
websockets
